app:
  name: prod-fault-detection-api
  label: fault-detection
  namespace: production
  configmap: prod-fault-detection-api-config
initContainers:
  container1:
    image:
      repository: eu.gcr.io/airqo-250220/prod-train-catboost-model
      tag: prod-6050fa0d-1686855662
  container2:
    image:
      repository: eu.gcr.io/airqo-250220/prod-train-lstm-model
      tag: prod-6050fa0d-1686855662
replicaCount: 1
image:
  repository: eu.gcr.io/airqo-250220/prod-fault-detection-api
  tag: prod-6050fa0d-1686855662
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 500m
    memory: 300Mi
  requests:
    cpu: 100m
    memory: 200Mi
volumeMounts:
  - name: shared-data
    mountPath: /usr/models
volumes:
  - name: shared-data
    emptyDir: {}
ingress:
  enabled: false
service:
  type: NodePort
  port: 4001
  protocol: TCP
  targetPort: 4001
  nodePort: 30013
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 70
