app:
  name: stage-fault-detection-api
  label: fault-detection
  namespace: staging
  configmap: stage-fault-detection-api-config
initContainers:
  container1:
    image:
      repository: gcr.io/airqo-250220/stage-train-catboost-model
      pullPolicy: Always
      tag: stage-70d63c48-1670410417
  container2:
    image:
      repository: gcr.io/airqo-250220/stage-train-lstm-model
      pullPolicy: Always
      tag: stage-70d63c48-1670410417
replicaCount: 2
image:
  repository: gcr.io/airqo-250220/stage-fault-detection-api
  tag: stage-70d63c48-1670410417
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 500m
    memory: 300Mi
  requests:
    cpu: 100m
    memory: 200Mi
volumeMounts:
  - name: shared-data
    mountPath: /usr/models
volumes:
  - name: shared-data
    emptyDir: {}
ingress:
  enabled: false
service:
  type: NodePort
  port: 4001
  protocol: TCP
  targetPort: 4001
  nodePort: 30013
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
