#TODO: Remove and only use the toml script??
apache-airflow==2.6.3
apache-airflow-providers-slack==7.3.1
confluent-avro==1.8.0
google-cloud-bigquery==3.11.3
google-cloud-storage==2.10.0
google-cloud-bigquery-storage==2.22.0
pandas==2.3.3
requests==2.31.0
python-dotenv==1.0.0
numpy==1.24.4
pyarrow==11.0.0
simplejson==3.20.2
sentry-sdk==2.56.0
geopy==2.4.1
mlflow==3.2.0
skops==0.13.0
lightgbm==4.1.0
setuptools==82.0.1
urllib3==1.26.16
gcsfs==2023.9.2
joblib==1.5.3
scikit-learn==1.2.2
pymongo==4.5.0
optuna==4.8.0
pytest==7.4.0
mock==5.2.0
scipy==1.15.3
coverage==7.13.5
pytest-cov==7.1.0
firebase-admin==6.9.0
db_dtypes==1.5.0
tweepy==4.16.0
great_expectations===0.18.18
airflow-provider-great-expectations==0.2.8
sqlalchemy-bigquery==1.11.0
confluent-kafka==2.5.0
lz4==4.3.3
earthengine-api==1.7.19
tenacity==8.2.2
netCDF4==1.7.4
cdsapi==0.7.7
cfgrib==0.9.15.1
xarray==2025.6.0
python-dateutil==2.8.2
sqlfluff==4.1.0
apache-airflow-providers-celery==3.17.2
