#TODO: Remove and only use the toml script??
apache-airflow
apache-airflow-providers-slack
confluent-avro
google-cloud-bigquery
google-cloud-storage
pandas~=2.1.0
requests~=2.31.0
python-dotenv~=1.0.0
numpy~=1.25.2
pyarrow
simplejson~=3.19.1
sentry-sdk
geopy
mlflow
lightgbm~=4.1.0
setuptools~=68.2.2
urllib3~=1.26.16
gcsfs~=2023.9.2
joblib~=1.3.1
scikit-learn==1.2.2
pymongo~=4.5.0
optuna
pytest~=7.4.0
mock
scipy~=1.11.1
coverage
pytest-cov
firebase-admin
db_dtypes
tweepy
ee
great_expectations===0.18.18
airflow-provider-great-expectations==0.2.8
sqlalchemy-bigquery==1.11.0
confluent-kafka==2.5.0
lz4==4.3.3
earthengine-api
tenacity==8.2.3
netCDF4
cdsapi>=0.7.4
cfgrib
xarray
python-dateutil
