OLD_AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT=240
AIRFLOW__CELERY_BROKER_TRANSPORT_OPTIONS__VISIBILITY_TIMEOUT=3600
AIRFLOW__CORE__KILLED_TASK_CLEANUP_TIME=604800
AIRFLOW__KUBERNETES__WORKER_PODS_CREATION_BATCH_SIZE=2

AIRFLOW__KUBERNETES__NAMESPACE=
AIRFLOW__KUBERNETES__WORKER_CONTAINER_REPOSITORY=
AIRFLOW__KUBERNETES__WORKER_CONTAINER_TAG=latest
AIRFLOW__KUBERNETES__WORKER_SERVICE_ACCOUNT_NAME=
AIRFLOW__KUBERNETES__IN_CLUSTER=True
AIRFLOW__KUBERNETES__DAGS_IN_IMAGE=true
AIRFLOW__KUBERNETES__RUN_AS_USER=
AIRFLOW__CORE__LOAD_EXAMPLES=False

AIRFLOW__WEBSERVER__BASE_URL=
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY_CMD=
AIRFLOW__WEBSERVER__SECRET_KEY_SECRET=
AIRFLOW__WEBSERVER__INSTANCE_NAME=
AIRFLOW__WEBSERVER__ENABLE_PROXY_FIX=true

AIRFLOW__SENTRY__SENTRY_DSN=sentry_url
AIRFLOW__SENTRY__SENTRY_ON=false

AIRFLOW_XCOM_BUCKET=airflow_xcom
AIRFLOW__LOGGING__REMOTE_LOGGING=True
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=gs://BUCKET_NAME
AIRFLOW__CORE__XCOM_BACKEND_FOLDER=/etc/airflow_xcom/
PYTHONPATH=/etc/airflow_xcom
AIRFLOW__CORE__XCOM_BACKEND=gcs_xcom_backend.GCSXComBackend

# Bigquery
BIGQUERY_HOURLY_EVENTS_TABLE=project_id.averaged_data_stage.hourly_device_measurements
BIGQUERY_HOURLY_UNCALIBRATED_EVENTS_TABLE=project_id.averaged_data_stage.merged_uncalibrated_data
BIGQUERY_HOURLY_WEATHER_TABLE=project_id.averaged_data_stage.hourly_weather_data
BIGQUERY_HOURLY_FORECAST_EVENTS_TABLE=project_id.averaged_data_stage.daily_1_week_forecasts
BIGQUERY_DAILY_FORECAST_EVENTS_TABLE=project_id.averaged_data_stage.daily_24_hour_forecasts
BIGQUERY_SATELLITE_DATA_TABLE=project_id.averaged_data_stage.daily_satellite_data
BIGQUERY_ANALYTICS_TABLE=project_id.consolidated_data_stage.hourly_device_measurements
BIGQUERY_SITES_TABLE=project_id.metadata_stage.sites_sites
BIGQUERY_SITES_SITES_TABLE=project_id.metadata_stage.sites_sites
BIGQUERY_DEVICES_TABLE=project_id.metadata_stage.devices_devices
BIGQUERY_DEVICES_DEVICES_TABLE=project_id.metadata_stage.devices_devices
BIGQUERY_RAW_WEATHER_TABLE=project_id.raw_data_stage.weather_data
BIGQUERY_RAW_EVENTS_TABLE=project_id.raw_data_stage.device_measurements
BIGQUERY_TEMP_RAW_EVENTS_TABLE=project_id.raw_data_stage.temp_device_measurements
BIGQUERY_BAM_EVENTS_TABLE=project_id.averaged_data_stage.hourly_bam_device_measurements
BIGQUERY_DEVICES_DATA_TABLE=project_id.metadata_stage.devices_data
BIGQUERY_AIRQO_MOBILE_EVENTS_TABLE=project_id.averaged_data_stage.airqo_mobile_device_measurements
BIGQUERY_CLEAN_RAW_MOBILE_EVENTS_TABLE=project_id.raw_data_stage.clean_mobile_device_measurements
BIGQUERY_UNCLEAN_RAW_MOBILE_EVENTS_TABLE=project_id.raw_data_stage.unclean_mobile_device_measurements
BIGQUERY_RAW_BAM_DATA_TABLE=project_id.raw_data_stage.bam_device_measurements
SENSOR_POSITIONS_TABLE=project_id.raw_data_stage.sensor_positions
BIGQUERY_LATEST_EVENTS_TABLE=project_id.consolidated_data_stage.latest_hourly_device_measurements
BIGQUERY_SITES_META_DATA_TABLE=project_id.metadata_stage.sites_meta_data
BIGQUERY_FORECAST_EVENTS_TABLE=project_id.averaged_data_stage.hourly_forecast_data
BIGQUERY_DAILY_EVENTS_TABLE=project_id.averaged_data_stage.daily_device_measurements
BIGQUERY_AIRQLOUDS_TABLE=project_id.metadata_stage.airqlouds_updated
BIGQUERY_AIRQLOUDS_SITES_TABLE=project_id.metadata_stage.airqlouds_sites_updated
BIGQUERY_GX_RESULTS_TABLE=project_id.data_quality_stage.gx_data_checks_stage
BIGQUERY_DEVICES_SUMMARY_TABLE=project_id.averaged_data_stage.devices_summary



GOOGLE_APPLICATION_CREDENTIALS=/etc/config/google_application_credentials.json
GOOGLE_CLOUD_PROJECT_ID=

OPENWEATHER_API_KEY=
OPENWEATHER_BASE_URL=
OPENWEATHER_DATA_BATCH_SIZE=

# mobile app
FIREBASE_AIR_QUALITY_READINGS_COLLECTION=
FIREBASE_USERS_COLLECTION=
FIREBASE_DATABASE_URL=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_TYPE=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=
FIREBASE_AUTHORIZATION_URL=


# kcca
CLARITY_API_BASE_URL=
CLARITY_API_KEY=

# Tahmo
TAHMO_API_BASE_URL=
TAHMO_API_CREDENTIALS_USERNAME=
TAHMO_API_CREDENTIALS_PASSWORD=
TAHMO_API_MAX_PERIOD=

# kafka
BOOTSTRAP_SERVERS=127.0.0.1:9094
INSIGHTS_MEASUREMENTS_TOPIC=
HOURLY_MEASUREMENTS_TOPIC=
BAM_MEASUREMENTS_TOPIC=
DEVICES_TOPIC=
AVERAGED_HOURLY_MEASUREMENTS_TOPIC=
CALIBRATED_HOURLY_MEASUREMENTS_TOPIC=
SCHEMA_REGISTRY_URL=

# AirQo
POST_EVENTS_BODY_SIZE=20
CALIBRATE_REQUEST_BODY_SIZE=40
PROD_AIRQO_BASE_URL=
PROD_AIRQO_BASE_URL_V2=
ENVIRONMENT=
CALIBRATEBY=
AIRQO_BASE_URL=
AIRQO_BASE_URL_V2=
AIRQO_API_KEY=

# thingspeak
THINGSPEAK_API_KEY=
THINGSPEAK_CHANNEL_URL=

# communication
SLACK_WEBHOOK_URL=

# security
AIRFLOW__API__AUTH_BACKENDS=

# Airnow
AIRNOW_API_KEY=
AIRNOW_BASE_URL=

# Plume Labs
PLUME_LABS_BASE_URL=
PLUME_LABS_ORGANISATIONS_CRED=

# Air Beam
AIR_BEAM_USERNAMES=
AIR_BEAM_BASE_URL=

# Purple Air
PURPLE_AIR_BASE_URL=
PURPLE_AIR_API_KEY=
BUCKET_NAME=
FILE_PATH_AIRQO=

# US EMBASSY
US_EMBASSY_API_KEY=

#MONGO_DB
MONGO_URI=
MONGO_DATABASE_NAME=
AIRQO_API_TOKEN=

#POSTGRESQL_VM
DB_ADMIN_USER=
DB_ADMIN_USER_PASSWORD=

#GREAT_EXPECTATION_CLOUD
GX_CLOUD_ORGANIZATION_ID=
GX_CLOUD_ACCESS_TOKEN=

#Forecast jobs
HOURLY_FORECAST_TRAINING_JOB_SCOPE=5
DAILY_FORECAST_TRAINING_JOB_SCOPE=10
HOURLY_FORECAST_PREDICTION_JOB_SCOPE=48
DAILY_FORECAST_PREDICTION_JOB_SCOPE=30
HOURLY_FORECAST_HORIZON=24
DAILY_FORECAST_HORIZON=7
MLFLOW_TRACKING_URI=
FORECAST_MODELS_BUCKET=

#Twitter bot - forecasts
TWITTER_BOT_API_KEY=
TWITTER_BOT_API_KEY_SECRET=
TWITTER_BOT_CLIENT_ID=
TWITTER_BOT_CLIENT_SECRET=
TWITTER_BOT_BEARER_TOKEN=
TWITTER_BOT_ACCESS_TOKEN=
TWITTER_BOT_ACCESS_TOKEN_SECRET=
