app:
  name: airqo-stage-device-registry-api
  label: sta-device-reg
  namespace: staging
  configmap: env-device-registry-staging
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-device-registry-api
  tag: stage-c99b789e-1758488077
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 200m
    memory: 400Mi
  requests:
    cpu: 10m
    memory: 150Mi
nodeSelector:
  role: moderate-usage
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
            - key: role
              operator: In
              values:
                - moderate-usage
        weight: 1
priorityClassName: high-priority
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: device-registry-config-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 31002
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
