app:
  name: airqo-device-registry-api
  label: device-reg-api
  namespace: production
  configmap: env-device-registry-production
replicaCount: 3
image:
  repository: eu.gcr.io/airqo-250220/airqo-device-registry-api
  tag: prod-fd549855-1696689386
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 200m
    memory: 1500Mi
  requests:
    cpu: 10m
    memory: 600Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: device-registry-config-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 30002
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
