apache-airflow
apache-airflow-providers-slack
confluent-avro
google-cloud-bigquery
google-cloud-storage
pyarrow
sentry-sdk
pandas
requests
simplejson
python-dotenv
pymongo
kafka-python
numpy
firebase-admin
db_dtypes
pytest