__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
production.env
# pycharm
.idea/

# pickle files
*.pkl

# datafiles
train.csv
test.csv

.vscode
.vscode/

*.csv

.gitkeep
.DS_Store
