__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
production.env
# pycharm
.idea/
greater_kampala_metropolitan_area_kiidp_2012/

# pickle files
*.pkl

# datafiles
train.csv
test.csv

.vscode
.vscode/

airqo-250220-642e046f4223.json
AirQo-e37846081569.json
*.csv
results.json
predictions.json
private_key.json
saved_model/
gcp_helpers/AirQo-e37846081569.json

__init__test.py
.gitkeep
.DS_Store
