app:
  name: airqo-stage-redis-server
  namespace: staging
  port: 6379
resources:
  requests:
    cpu: "100m"
    memory: "100Mi"
  limits:
    cpu: "500m"
    memory: "500Mi"


autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 85
  # targetMemoryUtilizationPercentage: 80
