apiVersion: v1
kind: Secret
metadata:
  name: tls-secret
  namespace: nginx-ingress
type: kubernetes.io/tls
stringData:
  # This is strictly a template file for the kubernetes secret to
  # contain the tls certificate and private key and thus its values
  # should not be left in file or committed!
  tls.crt: |
    << TLS certificated data here >>
  tls.key: |
    << TLS private key data here >>
