#.gitignore
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Environments 
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
production.env
# pycharm
.idea/

# pickle files
*.pkl

# datafiles
google_application_credentials.json

.vscode
.vscode/

*.csv
tests/
cache/

.gitkeep
.DS_Store
