#requirements.txt
flask~=3.0.3
pandas~=2.2.3
geopandas
pysal~=24.7
geojson~=3.1.0
libpysal~=4.12.1
requests~=2.32.3
python-dotenv~=1.0.1
pandas-gbq
google-cloud-bigquery
google-cloud-storage
google-cloud-bigquery-storage
google-cloud-bigquery[pandas] 
gunicorn
flask-cors~=5.0.0
earthengine-api~=1.1.1
overpy~=0.7
geopy~=2.4.1
protobuf~=5.28.2
esda~=2.6.0
shapely~=2.0.6
scikit-learn~=1.5.2
gcsfs~=2024.9.0.post1
joblib~=1.4.2
lightgbm~=4.1.0 
numpy
torch
transformers
datasets
sentencepiece
huggingface_hub
google-generativeai
openai
absl-py==1.4.0
affine==2.4.0
annotated-types==0.7.0
anyio==4.6.2.post1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
blinker==1.9.0
bqplot==0.12.43
branca==0.8.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-leaflet==1.0.15
dash-table==5.0.0
decorator==5.1.1
dnspython==2.7.0
earthengine-api==0.1.391
eerepr==0.0.4
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.0
fiona==1.10.1
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==1.12
folium==0.18.0
fonttools==4.55.0
future==1.0.0
gast==0.4.0
geemap==0.31.0
geocoder==1.38.1
geopandas==0.13.2
google-api-core==2.23.0
google-api-python-client==2.154.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpcio==1.68.0
h5py==3.12.1
httplib2==0.22.0
idna==3.10
imageio==2.36.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
introcs==1.0
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==8.18.1
ipytree==0.2.2
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.8.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.24.4
oauthlib==3.2.2
opt_einsum==3.4.0
osmnx==1.9.3
packaging==24.2
pandas==1.4.3
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
plotly==5.24.1
prompt_toolkit==3.0.48
proto-plus==1.25.0
protobuf==3.20.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.2
pydantic_core==2.27.1
Pygments==2.18.0
pymongo==4.10.1
pyparsing==3.2.0
pyperclip==1.9.0
pyproj==3.5.0
pyshp==2.3.1
python-box==7.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyWavelets==1.6.0
rasterio==1.3.9
ratelim==0.1.6
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.3.4
rsa==4.9
scikit-image==0.21.0
scipy==1.13.1
scooby==0.10.0
shapely==2.0.4
six==1.15.0
sniffio==1.3.1
snuggs==1.4.7
stack-data==0.6.3
starlette==0.38.6
tenacity==9.0.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-addons==0.18.0
tensorflow-estimator==2.9.0
tensorflow-macos==2.9.2
tensorflow-metadata==1.9.0
tensorflow-metal==0.5.0
termcolor==2.5.0
tifffile==2024.8.30
traitlets==5.14.3
traittypes==0.2.1
typeguard==4.4.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wrapt==1.17.0
xyzservices==2024.9.0
zipp==3.21.0