###########################################################
# Start deployment of notification api
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airqo-notification-api
  namespace: production
spec:
  selector:
    matchLabels:
      app: notification-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: notification-api
    spec:
      containers:
        - name: notification-api
          image: us.gcr.io/airqo-250220/airqo-notification-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: prod-notification-api-config
          volumeMounts:
          - name: config-volume
            mountPath: /etc/config
          resources:
            limits:
              cpu: 250m
              memory: 300Mi
      volumes:
        - name: config-volume
          configMap:
            name: prod-notification-api-config-files

---
kind: Service
apiVersion: v1
metadata:
  name: airqo-notification-api-svc
  namespace: production
spec:
  selector:
    app: notification-api
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30005
  type: NodePort

---
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2
metadata:
  name: airqo-notification-api-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: airqo-notification-api
  minReplicas: 1
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 70