###########################################################
# Start deployment of notification api - Staging
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airqo-stage-notification-api
  namespace: staging
spec:
  selector:
    matchLabels:
      app: sta-notification-api
  replicas: 0
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: sta-notification-api
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 10
              preference:
                matchExpressions:
                  - key: node-type
                    operator: In
                    values:
                      - general-purpose
      containers:
        - name: sta-notification-api
          image: eu.gcr.io/airqo-250220/airqo-stage-notification-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: stage-notification-api-config
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
          resources:
            requests:
              # Average usage was 0.00005 vCPU and 10Mi over the last 30 days
              cpu: 5m
              memory: 10Mi
            limits:
              cpu: 50m
              memory: 50Mi
      volumes:
        - name: config-volume
          configMap:
            name: stage-notification-api-config-files

---
kind: Service
apiVersion: v1
metadata:
  name: airqo-stage-notification-api-svc
  namespace: staging
spec:
  selector:
    app: sta-notification-api
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 31005
  type: NodePort

---
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2
metadata:
  name: airqo-stage-notification-api-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: airqo-stage-notification-api
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
