app:
  name: stage-analytics-report-job
  namespace: staging
  configmap: env-analytics-report-staging
image:
  tag: stage-f8679d75-1679577164
nameOverride: ''
fullnameOverride: ''
resources:
  limits:
    cpu: 1000m
    memory: 4000Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: env-analytics-report-staging-files
