apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress-platform-resource
  namespace: production
  annotations:
    kubernetes.io/ingress.class: nginx 
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/auth-method: GET
    nginx.ingress.kubernetes.io/auth-url: http://airqo-auth-api-svc.production.svc.cluster.local:3000/api/v1/users?tenant=airqo
    nginx.ingress.kubernetes.io/configuration-snippet: |
      error_page 401 /errors/unauthorized;
      error_page 403 /errors/forbidden;
    nginx.ingress.kubernetes.io/auth-snippet: |
      if ($request_uri = "/") {
          return 200;
      }

      if ($request_uri ~ "(/api/v1/users)|(/api/v2/users)") {
          return 200;
      }

      if ($request_uri ~ "(/api/v1/users/candidates/register)|(/api/v2/users/candidates/register)") {
          return 200;
      }

      if ($request_uri ~ "(api/v1/users/loginUser)|(api/v2/users/loginUser)") {
          return 200;
      }

      if ($request_uri ~ "(api/v1/users/forgotPassword)|(api/v2/users/forgotPassword)") {
          return 200;
      }

      if ($request_uri ~ "(api/v1/users/updatePasswordViaEmail)|(api/v2/users/updatePasswordViaEmail)") {
          return 200;
      }
    nginx.ingress.kubernetes.io/server-snippet: |
      location = /errors/unauthorized {
        proxy_method GET;
        proxy_pass http://airqo-auth-api-svc.production.svc.cluster.local:3000/api/v1/users/errors/unauthorized;
      }
      location = /errors/forbidden {
        proxy_method GET;
        proxy_pass http://airqo-auth-api-svc.production.svc.cluster.local:3000/api/v1/users/errors/forbidden;
      }

spec:
  rules:
    - host: platform.airqo.net
      http:
        paths:
          - path: /
            backend:
              serviceName: airqo-platform-svc
              servicePort: 80
          - path: /api/v1/users
            backend:
              serviceName: airqo-auth-api-svc
              servicePort: 3000
          - path: /api/v2/users
            backend:
              serviceName: airqo-auth-api-svc
              servicePort: 3000
          - path: /api/v1/devices
            backend:
              serviceName: airqo-device-registry-api-svc
              servicePort: 3000
          - path: /api/v2/devices
            backend:
              serviceName: airqo-device-registry-api-svc
              servicePort: 3000
          - path: /api/v1/data
            backend:
              serviceName: airqo-data-mgt-api-svc
              servicePort: 3000
          - path: /api/v2/data
            backend:
              serviceName: airqo-data-mgt-api-svc
              servicePort: 3000
          - path: /api/v1/map
            backend:
              serviceName: airqo-locate-api-svc
              servicePort: 4001
          - path: /api/v2/map
            backend:
              serviceName: airqo-locate-api-svc
              servicePort: 4001
          - path: /api/v1/analytics
            backend:
              serviceName: airqo-analytics-api-svc
              servicePort: 5000
          - path: /api/v2/analytics
            backend:
              serviceName: airqo-analytics-api-svc
              servicePort: 5000
          - path: /api/v1/predict
            backend:
              serviceName: airqo-prediction-api-svc
              servicePort: 5000
          - path: /api/v2/predict
            backend:
              serviceName: airqo-prediction-api-svc
              servicePort: 5000
          - path: /api/v1/monitor
            backend:
              serviceName: airqo-device-monitor-api-svc
              servicePort: 4001
          - path: /api/v2/monitor
            backend:
              serviceName: airqo-device-monitor-api-svc
              servicePort: 4001
          - path: /api/v1/calibrate
            backend:
              serviceName: airqo-calibrate-api-svc
              servicePort: 4001
          - path: /api/v2/calibrate
            backend:
              serviceName: airqo-calibrate-api-svc
              servicePort: 4001
          - path: /api/v1/incentives
            backend:
              serviceName: airqo-incentives-api-svc
              servicePort: 3000
          - path: /api/v2/incentives
            backend:
              serviceName: airqo-incentives-api-svc
              servicePort: 3000
          