# values for airqo-data-mgt-api.
env:
  deployment_name: airqo-dev-data-mgt-api
  service_name: airqo-dev-data-mgt-api-svc
  labels: dev-data-mgt-api
  secret: dev-data-mgt-secret

replicaCount: 2

image:
  repository: airqo-dev-data-mgt-api
  tag: latest
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  nodePort: 32001
  targetPort: 3000
  port: 3000

ingress:
  enabled: false

nodeSelector: {}
resources: {}
affinity: {}
torelations: {}


## Application level settings  
appMode: development