app:
  name: airqo-stage-data-mgt-api
  label: sta-data-mgt
  namespace: staging
  configmap: data-mgt-api-config
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-data-mgt-api
  tag: stage-38af6de7-1730309744
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 5m
    memory: 200Mi
  requests:
    cpu: 1m
    memory: 100Mi
nodeSelector:
  role: high-mem
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
          - key: role
            operator: In
            values:
            - high-mem
        weight: 1
ingress:
  enabled: false
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 31001
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
