#!/bin/bash
kubectl cordon {{ hostvars[groups['hourly'].0].name }} --kubeconfig=/etc/kubernetes/admin.conf
kubectl delete node {{ hostvars[groups['hourly'].0].name }} --kubeconfig=/etc/kubernetes/admin.conf