###########################################################
# Start deployment of device-monitoring microservice
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airqo-device-monitor-api
  namespace: production
spec:
  selector:
    matchLabels:
      app: device-monitor-api
  replicas: 2
  template:
    metadata:
      labels:
        app: device-monitor-api
    spec:
      containers:
        - name: dev-monitor-api
          image: us.gcr.io/airqo-250220/airqo-device-monitor-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4001
              name: dev-monitor-api
          env:
            - name: MONGO_GCE_URI
              valueFrom:
                secretKeyRef:
                  name: prod-device-monitor-secret
                  key: MONGO_GCE_URI
            - name: DB_NAME_PROD
              valueFrom:
                secretKeyRef:
                  name: prod-device-monitor-secret
                  key: PLATFORM_MONGO_PROD
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: prod-device-monitor-secret
                  key: SECRET_KEY

---
kind: Service
apiVersion: v1
metadata:
  name: airqo-device-monitor-api-svc
  namespace: production
spec:
  selector:
    app: device-monitor-api
  ports:
    - protocol: TCP
      port: 4001
      targetPort: 4001
      nodePort: 30006
  type: NodePort
