###########################################################
# Start deployment of device registry api
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airqo-device-registry-api
  namespace: production
spec:
  selector:
    matchLabels:
      app: device-reg-api
  replicas: 2
  template:
    metadata:
      labels:
        app: device-reg-api
    spec:
      containers:
        - name: device-reg-api
          image: us.gcr.io/airqo-250220/airqo-device-registry-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              name: device-reg-api
          env:
            - name: MONGO_GCE_URI
              valueFrom:
                secretKeyRef:
                  name: prod-device-reg-secret
                  key: MONGO_GCE_URI
            - name: MONGO_PROD
              valueFrom:
                secretKeyRef:
                  name: prod-device-reg-secret
                  key: MONGO_PROD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: prod-device-reg-secret
                  key: JWT_SECRET
            - name: MONGO_DEV
              valueFrom:
                secretKeyRef:
                  name: prod-device-reg-secret
                  key: MONGO_DEV
            - name: MONGO_STAGE
              valueFrom:
                secretKeyRef:
                  name: prod-device-reg-secret
                  key: MONGO_STAGE
            - name: MAIL_PASS
              valueFrom:
                secretKeyRef:
                  name: prod-device-reg-secret
                  key: MAIL_PASS
            - name: MAIL_USER
              valueFrom:
                secretKeyRef:
                  name: prod-device-reg-secret
                  key: MAIL_USER
            - name: LOCAL_DB
              valueFrom:
                secretKeyRef:
                  name: prod-device-reg-secret
                  key: LOCAL_DB

---
kind: Service
apiVersion: v1
metadata:
  name: airqo-device-registry-api-svc
  namespace: production
spec:
  selector:
    app: device-reg-api
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30002
  type: NodePort
