###########################################################
# Start deployment of locate api - staging
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airqo-stage-locate-api
  namespace: staging
spec:
  selector:
    matchLabels:
      app: sta-locate-api
  replicas: 2
  template:
    metadata:
      labels:
        app: sta-locate-api
    spec:
      containers:
        - name: sta-locate-api
          image: us.gcr.io/airqo-250220/airqo-stage-locate-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4001
              name: sta-locate-api
          env:
          - name: MONGO_GCE_URI
            valueFrom:
              secretKeyRef:
                name: stage-locate-secret
                key: MONGO_GCE_URI
          - name: DB_NAME_PROD
            valueFrom:
              secretKeyRef:
                name: stage-locate-secret
                key: PLATFORM_MONGO_PROD
          - name: SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: stage-locate-secret
                key: SECRET_KEY

---
kind: Service
apiVersion: v1
metadata:
  name: airqo-stage-locate-api-svc
  namespace: staging
spec:
  selector:
    app: sta-locate-api
  ports:
    - protocol: TCP
      port: 4001
      targetPort: 4001
      nodePort: 31004
  type: NodePort
