###########################################################
# Start deployment of location registry microservice - Staging
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airqo-stage-location-registry-api
  namespace: staging
spec:
  selector:
    matchLabels:
      app: sta-location-registry-api
  replicas: 2
  template:
    metadata:
      labels:
        app: sta-location-registry-api
    spec:
      containers:
        - name: sta-loc-reg
          image: us.gcr.io/airqo-250220/airqo-stage-location-registry-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: sta-loc-reg
          env:
            - name: MONGO_GCE_URI
              valueFrom:
                secretKeyRef:
                  name: stage-location-registry-secret
                  key: MONGO_GCE_URI
            - name: DB_NAME_STAGE
              valueFrom:
                secretKeyRef:
                  name: stage-location-registry-secret
                  key: PLATFORM_MONGO_STAGE
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: stage-location-registry-secret
                  key: SECRET_KEY
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: stage-location-registry-secret
                  key: API_KEY
            - name: OVERPASS_URL
              valueFrom:
                secretKeyRef:
                  name: stage-location-registry-secret
                  key: OVERPASS_URL
            - name: SERVICE_ACCOUNT
              valueFrom:
                secretKeyRef:
                  name: stage-location-registry-secret
                  key: SERVICE_ACCOUNT
            - name: CREDENTIALS
              valueFrom:
                secretKeyRef:
                  name: stage-location-registry-secret
                  key: PRIVATE_KEY

---
kind: Service
apiVersion: v1
metadata:
  name: airqo-stage-location-registry-api-svc
  namespace: staging
spec:
  selector:
    app: sta-location-registry-api
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 31005
  type: NodePort
