apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: airflow
  namespace: pipeline
spec:
  host: platform.airqo.net
  upstreams:
    - name: airflow
      service: airflow-svc
      port: 8080
  subroutes:
    - path: /airflow
      action:
        pass: airflow

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: argocd
  namespace: cicd
spec:
  host: platform.airqo.net
  upstreams:
    - name: argocd
      service: argocd-server
      port: 443
  subroutes:
    - path: /argocd
      action:
        pass: argocd
    - path: /argocd/(.*)
      action:
        proxy:
          upstream: argocd
          rewritePath: /$1

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: inventory
  namespace: production
spec:
  host: platform.airqo.net
  upstreams:
    - name: inventory
      service: airqo-inventory-svc
      port: 8000
  subroutes:
    - path: /inventory
      action:
        pass: inventory        

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServer
metadata:
  name: platform-virtual-server
  namespace: production
spec:
  host: platform.airqo.net
  upstreams:
    - name: platform-ui
      service: airqo-platform-frontend-svc
      port: 80
    - name: auth-service
      service: airqo-auth-api-svc
      port: 3000
    - name: device-registry
      service: airqo-device-registry-api-svc
      port: 3000
    - name: data-mgt
      service: airqo-data-mgt-api-svc
      port: 3000
    - name: locate
      service: airqo-locate-api-svc
      port: 4001
    - name: analytics
      service: airqo-analytics-api-svc
      port: 5000
    - name: predict
      service: airqo-prediction-api-svc
      port: 5000
    - name: monitor
      service: airqo-device-monitor-api-svc
      port: 4001
    - name: calibrate
      service: airqo-calibrate-api-svc
      port: 4001
    - name: incentives
      service: airqo-incentives-api-svc
      port: 3000
    - name: meta-data
      service: airqo-meta-data-api-svc
      port: 4001
    - name: view
      service: airqo-view-api-svc
      port: 8080
    - name: network-uptime
      service: airqo-network-uptime-api-svc
      port: 8501
    - name: fault-detection
      service: prod-fault-detection-api-svc
      port: 4001
    - name: notifications
      service: airqo-notification-api-svc
      port: 8080
  routes:
    - path: /
      action:
        pass: platform-ui
    - path: /airflow
      route: pipeline/airflow
    - path: /argocd
      route: cicd/argocd
    - path: /inventory
      route: production/inventory    
    - path: ~ /api\/v[1-2]\/users
      action:
        proxy:
          upstream: auth-service
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/devices
      action:
        proxy:
          upstream: device-registry
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/data
      action:
        proxy:
          upstream: data-mgt
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/locate/map
      action:
        proxy:
          upstream: locate
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/analytics
      action:
        proxy:
          upstream: analytics
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/predict
      action:
        proxy:
          upstream: predict
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/monitor
      action:
        proxy:
          upstream: monitor
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/calibrate
      action:
        proxy:
          upstream: calibrate
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/incentives
      action:
        proxy:
          upstream: incentives
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/meta-data
      action:
        proxy:
          upstream: meta-data
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/view
      action:
        proxy:
          upstream: view
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/network-uptime
      action:
        proxy:
          upstream: network-uptime
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/predict-faults
      action:
        proxy:
          upstream: fault-detection
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/notifications
      action:
        proxy:
          upstream: notifications
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
