namespace: production
nameOverride: ''
fullnameOverride: ''
images:
  repositories:
    api: eu.gcr.io/airqo-250220/airqo-insights-api
    celery: eu.gcr.io/airqo-250220/airqo-insights-celery
    celeryWorker: eu.gcr.io/airqo-250220/airqo-insights-celery-worker
  tag: prod-153deed2-1725870728
api:
  name: airqo-insights-api
  label: insights-api
  configmap: env-insights-production
  replicaCount: 3
  podAnnotations: {}
  resources:
    limits:
      cpu: 100m
      memory: 600Mi
    requests:
      cpu: 10m
      memory: 250Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: prod-insights-config-files
service:
  type: NodePort
  port: 5000
  protocol: TCP
  targetPort: 5000
  nodePort: 30003
ingress:
  enabled: false
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
