app:
  name: airqo-stage-device-monitor-api
  label: device-monitor
  namespace: staging
  configmap: env-device-monitoring-staging
replicaCount: 2
images:
  repositories:
    deviceMonitor: eu.gcr.io/airqo-250220/airqo-stage-device-monitor-api
    celeryBeat: eu.gcr.io/airqo-250220/airqo-stage-device-monitor-celery-beat
    celeryWorker: eu.gcr.io/airqo-250220/airqo-stage-device-monitor-celery-worker
  tag: stage-38af6de7-1730309744
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 50m
    memory: 1000Mi
  requests:
    cpu: 5m
    memory: 400Mi
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: role
              operator: In
              values:
                - high-mem
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: device-monitor-config-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 4001
  protocol: TCP
  targetPort: 4001
  nodePort: 31006
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
