app:
  name: airqo-device-monitor-api
  label: device-monitor
  namespace: production
  configmap: env-device-monitoring-production
replicaCount: 3
image:
  repository: eu.gcr.io/airqo-250220/airqo-device-monitor-api
  tag: prod-05dd7525-1677074761
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 50m
    memory: 100Mi
  requests:
    cpu: 5m
    memory: 50Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: device-monitor-config-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 4001
  protocol: TCP
  targetPort: 4001
  nodePort: 30006
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
