app:
  name: airqo-device-monitor-api
  label: device-monitor
  namespace: production
  configmap: env-device-monitoring-production
replicaCount: 3
images:
  repositories:
    deviceMonitor: eu.gcr.io/airqo-250220/airqo-device-monitor-api
    celeryBeat: eu.gcr.io/airqo-250220/airqo-device-monitor-celery-beat
    celeryWorker: eu.gcr.io/airqo-250220/airqo-device-monitor-celery-worker
  tag: prod-98b33798-1689260366
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 500m
    memory: 800Mi
  requests:
    cpu: 5m
    memory: 50Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: device-monitor-config-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 4001
  protocol: TCP
  targetPort: 4001
  nodePort: 30006
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
