app:
  name: stage-device-status-job
  namespace: staging
  configmap: env-device-status-staging
image:
  repository: gcr.io/airqo-250220/airqo-stage-device-status-job
  tag: stage-7ba6450e-1671114167
nameOverride: ''
fullnameOverride: ''
resources:
  limits:
    cpu: 1000m
    memory: 4000Mi
