# values for airqo-auth-api.
env:
  deployment_name: airqo-stage-auth-api
  service_name: airqo-stage-auth-api-svc
  labels: sta-auth-api
  secret: stage-auth-secret

replicaCount: 2

image:
  repository: us.gcr.io/airqo-250220/airqo-stage-auth-api
  tag: latest
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  nodePort: 31000
  targetPort: 3000
  port: 3000

ingress:
  enabled: false

nodeSelector: {}
resources: {}
affinity: {}
torelations: {}


## Application level settings  
appMode: staging