app:
  name: airqo-calibrate-api
  label: calibrate
  namespace: production
  configmap: prod-calibrate-api-config
initContainer:
  image:
    repository: eu.gcr.io/airqo-250220/airqo-calibrate-pickle-file
    tag: prod-6507f4db-1688280660
replicaCount: 3
image:
  repository: eu.gcr.io/airqo-250220/airqo-calibrate-api
  tag: prod-6507f4db-1688280660
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 1500Mi
  requests:
    cpu: 10m
    memory: 950Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
  - name: shared-data
    mountPath: /usr/pickle-files
volumes:
  - name: config-volume
    configMap:
      name: prod-calibrate-api-config-files
  - name: shared-data
    emptyDir: {}
ingress:
  enabled: false
service:
  type: NodePort
  port: 4001
  protocol: TCP
  targetPort: 4001
  nodePort: 30011
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
