app:
  name: airqo-stage-calibrate-api
  label: sta-calibrate
  namespace: staging
  configmap: stage-calibrate-api-config
initContainer:
  image:
    repository: eu.gcr.io/airqo-250220/airqo-stage-calibrate-pickle-file
    tag: stage-57e991d2-1689862096
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-calibrate-api
  tag: stage-57e991d2-1689862096
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 400Mi
  requests:
    cpu: 10m
    memory: 200Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
  - name: shared-data
    mountPath: /usr/pickle-files
volumes:
  - name: config-volume
    configMap:
      name: stage-calibrate-api-config-files
  - name: shared-data
    emptyDir: {}
ingress:
  enabled: false
service:
  type: NodePort
  port: 4001
  protocol: TCP
  targetPort: 4001
  nodePort: 31011
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
