SUPERSET_SECRET_KEY=
FLASK_ENV=
DATABASE_DIALECT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=host.docker.internal
DATABASE_PORT=
DATABASE_DB=
SUPERSET_WEBSERVER_ENABLE_PROXY_FIX=
SUPERSET_WEBSERVER_HOST=host.docker.internal
SUPERSET_WEBSERVER_PORT=8088
SUPERSET_WEBSERVER_TIMEOUT=300
SUPERSET_LOG_LEVEL=DEBUG
FLASK_APP=superset
SUPERSET_PUBLIC_URL=http://host.docker.internal:8088/
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://user:password@host.docker.internal:5432/database
SUPERSET_ADMIN_USERNAME=
SUPERSET_ADMIN_FIRSTNAME=
SUPERSET_ADMIN_LASTNAME=
SUPERSET_ADMIN_EMAIL=
SUPERSET_ADMIN_PASSWORD=
