SUPERSET_SECRET_KEY=
FLASK_ENV=development
DATABASE_DIALECT=postgresql+psycopg2
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DB=
SUPERSET_WEBSERVER_ENABLE_PROXY_FIX=
SUPERSET_WEBSERVER_HOST=
SUPERSET_WEBSERVER_PORT=
SUPERSET_WEBSERVER_TIMEOUT=
SUPERSET_LOG_LEVEL=DEBUG
SUPERSET_PUBLIC_URL=
SQLALCHEMY_DATABASE_URI=
SUPERSET_CONFIG_PATH=superset_config.py
FLASK_APP=superset