app:
  name: airqo-data-proxy-api
  label: data-proxy-api
  namespace: production
  configmap: data-proxy-api-config
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-data-proxy-api
  tag: prod-d52d1af4-1708671557
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 50m
    memory: 500Mi
  requests:
    cpu: 10m
    memory: 70Mi
ingress:
  enabled: false
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 30015
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
