app:
  name: airqo-stage-data-proxy-api
  label: sta-data-proxy
  namespace: staging
  configmap: data-proxy-api-config
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-data-proxy-api
  tag: stage-8f344976-1711113910
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 50m
    memory: 100Mi
  requests:
    cpu: 5m
    memory: 70Mi
ingress:
  enabled: false
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 31015
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
