apiVersion: apps/v1
kind: Deployment
metadata:
  name: airqo-stage-view-message-broker
  namespace: staging
spec:
  selector:
    matchLabels:
      app: view-message-broker
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: view-message-broker
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
        - name: view-message-broker
          image: us.gcr.io/airqo-250220/airqo-stage-view-message-broker:latest
          imagePullPolicy: Always
          resources:
            requests:
              # Average usage was 0.01 vCPU and 400Mi over the last 30 days
              cpu: 10m
              memory: 400Mi
            limits:
              cpu: 50m
              memory: 600Mi
          envFrom:
            - configMapRef:
                name: stage-view-message-broker-config

---
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2
metadata:
  name: airqo-stage-view-message-broker-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: airqo-stage-view-message-broker
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80