apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: app-insights-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: hourly-measurements-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: sites-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: devices-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: locations-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 1
  replicas: 2
  config:
    retention.ms: 86400000 

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: sensors-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 1
  replicas: 2
  config:
    retention.ms: 86400000 

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: airqlouds-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 1
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: activities-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 1
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: purple-air-raw-measurements-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: photos-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 1
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: bam-measurements-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: new-mobile-app-user-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: tips-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: kya-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: kya-lesson
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: grid-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: cohort-topic
  namespace: message-broker
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 2
  config:
    retention.ms: 86400000
  
