###########################################################
# Start deployment of schema registry - production
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prod-schema-registry
  namespace: production
spec:
  selector:
    matchLabels:
      app: schema-registry
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: schema-registry
    spec:
      containers:
        - name: schema-registry
          image: us.gcr.io/airqo-250220/prod-schema-registry:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: 256Mi
              cpu: "0.2"
            limits:
              memory: 512Mi
              cpu: "1"
          ports:
            - containerPort: 8081
              name: schema-registry
          envFrom:
            - configMapRef:
                name: prod-schema-registry-config

---
kind: Service
apiVersion: v1
metadata:
  name: prod-schema-registry-svc
  namespace: production
spec:
  selector:
    app: schema-registry
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30081
  type: NodePort
