{
  "NODE_ENV": "production",

  "PORT": "3000",
  "DEFAULT_LIMIT": "",
  "DEFAULT_TENANT": "",
  "UNIQUE_CONSUMER_GROUP": "",
  "UNIQUE_PRODUCER_GROUP": "",
  "DEFAULT_ORGANISATION_PROFILE_PICTURE": "",
  "PRODUCTS_DEV_EMAIL": "",
  "AIRQO_WEBSITE": "",
  "AIRQO_YOUTUBE": "",
  "SUPPORT_EMAIL": "",
  "INSTANCE_ID": "",
  "RATE_LIMIT_WHITELIST": "",
  "IP_API_PRO_URL": "",

  "JWT_SECRET": "",
  "SESSION_SECRET": "",
  "SESSION_COOKIE_NAME": "",
  "OAUTH_COOKIE_DOMAIN": "",
  "PASSWORD_REGEX": "",
  "SUPER_ADMIN_PERMISSIONS": "",
  "DEFAULT_MEMBER_PERMISSIONS": "",
  "SUPER_ADMIN_EMAIL_ALLOWLIST": "",
  "TENANTS": "",
  "NETWORKS": "",

  "MONGO_URI": "",
  "COMMAND_MONGO_URI": "",
  "QUERY_MONGO_URI": "",
  "DB_NAME": "",
  "MONGO_GCE_URI": "",
  "MONGO_GCE_HOST": "",
  "MONGO_GCE_PORT": "",
  "MONGO_GCE_USERNAME": "",
  "MONGO_GCE_PASSWORD": "",
  "LOCAL_DB": "",
  "MONGODB_POOL_SIZE": "",

  "REDIS_SERVER": "",
  "REDIS_PORT": "",
  "USE_REDIS_SESSIONS": "",

  "MAIL_USER": "",
  "MAIL_PASS": "",
  "MAILCHIMP_API_KEY": "",
  "MAILCHIMP_LIST_ID": "",
  "MAILCHIMP_MOBILE_API_KEY": "",
  "MAILCHIMP_SERVER_PREFIX": "",
  "KICKBOX_API_KEY": "",

  "FIREBASE_DATABASE_URL": "",
  "FIREBASE_API_KEY": "",
  "FIREBASE_AUTH_DOMAIN": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_TYPE": "",
  "FIREBASE_PRIVATE_KEY_ID": "",
  "FIREBASE_PRIVATE_KEY": "",
  "FIREBASE_CLIENT_EMAIL": "",
  "FIREBASE_CLIENT_ID": "",
  "FIREBASE_AUTH_URI": "",
  "FIREBASE_TOKEN_URI": "",
  "FIREBASE_AUTH_PROVIDER_X509_CERT_URL": "",
  "FIREBASE_CLIENT_X509_CERT_URL": "",
  "FIREBASE_UNIVERSE_DOMAIN": "",
  "FIREBASE_AUTHORIZATION_URL": "",
  "FIREBASE_VERIFICATION_SUCCESS_REDIRECT": "",
  "FIREBASE_COLLECTION_USERS": "",
  "FIREBASE_COLLECTION_KYA": "",
  "FIREBASE_COLLECTION_ANALYTICS": "",
  "FIREBASE_COLLECTION_NOTIFICATIONS": "",
  "FIREBASE_COLLECTION_FAVORITE_PLACES": "",

  "GOOGLE_APPLICATION_CREDENTIALS": "",
  "GOOGLE_CLIENT_ID": "",
  "GOOGLE_CLIENT_SECRET": "",
  "GMAIL_VERIFICATION_FAILURE_REDIRECT": "",
  "GMAIL_VERIFICATION_SUCCESS_REDIRECT": "",

  "SLACK_TOKEN": "",
  "SLACK_CHANNEL": "",
  "SLACK_USERNAME": "",

  "MOBILE_APP_PACKAGE_NAME": "",
  "MOBILE_APP_DYNAMIC_LINK_DOMAIN": "",
  "MOBILE_APP_USERS_TOPIC": "",
  "NEW_MOBILE_APP_USER_TOPIC": "",

  "DEPLOY_TOPIC": "",
  "RECALL_TOPIC": "",
  "SITES_TOPIC": "",
  "IP_ADDRESS_TOPIC": "",
  "NETWORK_EVENTS_TOPIC": "",
  "NETWORK_CREATION_REQUESTS_TOPIC": "",
  "NETWORK_CREATION_APPROVED_TOPIC": "",
  "NETWORK_CREATION_DENIED_TOPIC": "",

  "PADDLE_WEBHOOK_SECRET": "",
  "PADDLE_PRODUCT_ID": "",
  "PADDLE_DEFAULT_SUBSCRIPTION_PRICE_ID": "",
  "PADDLE_STANDARD_PRICE_ID": "",
  "PADDLE_PREMIUM_PRICE_ID": "",
  "PADDLE_SUCCESS_REDIRECT_URL": "",
  "PADDLE_CANCEL_REDIRECT_URL": "",
  "PADDLE_PUBLIC_KEY": "",
  "PADDLE_SECRET_KEY": "",
  "PADDLE_ENVIRONMENT": "",
  "PADDLE_API_KEY": "",

  "DEFAULT_USE_ONBOARDING_FLOW": "",
  "ONBOARDING_TOKEN_EXPIRY_DAYS": "",
  "MAX_ONBOARDING_TOKEN_EXPIRY_DAYS": "",
  "ORGANISATIONS_LIMIT": "",
  "ONBOARDING_BASE_URL": "",

  "POSTHOG_API_KEY": "",
  "POSTHOG_HOST": "",
  "POSTHOG_ENABLED": "",
  "POSTHOG_TRACK_API_REQUESTS": "",

  "ANALYTICS_BASE_URL": "",
  "VERTEX_BASE_URL": "",
  "ALLOWED_REDIRECT_ORIGINS": "",
  "ALLOWED_CUSTOM_SCHEME_PREFIXES": "vertex://,beacon://,dataflo://,analytics://,airqo://",

  "ANALYTICS_PII_ENABLED": "",
  "BYPASS_CAPTCHA": "",
  "BYPASS_RATE_LIMIT": "",
  "HCAPTCHA_SITE_KEY": "",
  "HCAPTCHA_SECRET_KEY": "",
  "ENABLE_TOKEN_RATE_LIMITING": "",
  "ENABLE_SCOPE_ENFORCEMENT": "",
  "ENABLE_DAILY_RATE_LIMITING": "",
  "ENABLE_WEEKLY_RATE_LIMITING": "",
  "ENABLE_MONTHLY_RATE_LIMITING": "",
  "ENABLE_ERROR_RATE_BREAKER": "false",
  "ERROR_RATE_THRESHOLD": "50",
  "ANOMALY_SUSPEND_THRESHOLD": "30",
  "COMPROMISE_SUSPEND_THRESHOLD": "50",
  "ADMIN_SETUP_SECRET": "",

  "DEFAULT_AIRQLOUD": "",
  "DEFAULT_GRID": "",
  "DEFAULT_GROUP": "",
  "DEFAULT_GROUP_ROLE": "",
  "DEFAULT_NETWORK": "",
  "DEFAULT_NETWORK_ROLE": "",

  "KAFKA_BOOTSTRAP_SERVERS": "",
  "KAFKA_TOPICS": "",
  "SCHEMA_REGISTRY": "",
  "KAFKA_RAW_MEASUREMENTS_TOPICS": "",
  "KAFKA_CLIENT_ID": "",
  "KAFKA_CLIENT_GROUP": "",
  "GROUPS_TOPIC": "",

  "SELECTED_SITES": "",
  "API_TOKEN": "",

  "GITHUB_CLIENT_ID": "",
  "GITHUB_CLIENT_SECRET": "",
  "LINKEDIN_CLIENT_ID": "",
  "LINKEDIN_CLIENT_SECRET": "",
  "MICROSOFT_CLIENT_ID": "",
  "MICROSOFT_CLIENT_SECRET": "",
  "TWITTER_CONSUMER_KEY": "",
  "TWITTER_CONSUMER_SECRET": "",
  "TWITTER_BEARER_TOKEN": "",
  "TWITTER_ACCESS_TOKEN": "",
  "TWITTER_ACCESS_TOKEN_SECRET": "",
  "TWITTER_CLIENT_ID": "",
  "TWITTER_CLIENT_SECRET": "",

  "REQUEST_ACCESS_EMAILS": "",
  "COMMS_EMAILS": "",
  "POLICY_EMAILS": "",
  "CHAMPIONS_EMAILS": "",
  "RESEARCHERS_EMAILS": "",
  "ASSISTANCE_EMAILS": "",
  "DEVELOPERS_EMAILS": "",
  "PARTNERS_EMAILS": "",
  "HARDWARE_AND_DS_EMAILS": "",
  "PLATFORM_AND_DS_EMAILS": "",
  "PLATFORM_EMAILS": "",

  "IP_ANALYSIS_CONCURRENCY": "",

  "MESSAGE_BROKER_PRIORITIES": "",
  "MESSAGE_BROKER_HEALTH_CHECK_INTERVAL": "",
  "MESSAGE_PROCESSING_MAX_RETRIES": "",
  "MESSAGE_BROKER_CONNECTION_TIMEOUT_MS": "",
  "MESSAGE_CONSUMER_STARTUP_TIMEOUT_MS": "",
  "NATS_SERVERS": "",

  "JWT_EXPIRES_IN_SECONDS": "",
  "JWT_REFRESH_WINDOW_SECONDS": "",
  "JWT_GRACE_PERIOD_SECONDS": "",

  "REDIS_HOST": "",
  "REDIS_PASSWORD": "",
  "REDIS_DB": "",

  "ENABLE_MESSAGE_CONSUMER": "",
  "MESSAGE_BROKER_ALLOW_NO_CONNECTION": "",
  "MESSAGE_BROKER_INITIAL_DELAY_MS": "",

  "RABBITMQ_HOST": "",
  "RABBITMQ_PORT": "",
  "RABBITMQ_USERNAME": "",
  "RABBITMQ_PASSWORD": "",
  "RABBITMQ_VHOST": "",

  "INTERNAL_API_KEY": "",

  "HEALTH_CHECK_RATE_LIMIT_MAX": "",
  "HEALTH_CHECK_RATE_LIMIT_WINDOW_MS": "",

  "CLOUD_NAME": "",
  "CLOUDINARY_API_KEY": "",
  "CLOUDINARY_API_SECRET": "",
  "FEEDBACK_SCREENSHOT_RETENTION_DAYS": "",
  "CLEAN_AIR_FORUM_SELFIE_RETENTION_DAYS": "",
  "FEEDBACK_REMINDER_THRESHOLD_DAYS": "",
  "SLACK_FEEDBACK_WEBHOOK_URL": "",
  "JIRA_BASE_URL": "",
  "JIRA_EMAIL": "",
  "JIRA_API_TOKEN": "",
  "JIRA_PROJECT_KEY": "",
  "JIRA_ISSUE_TYPE": ""
}
