node_modules
.env
.env.old
.env.new
.env.local
.env.*.local
.env.development
.env.staging
.env.production
auth-secret.yaml
config/firebase-admin-sdk.json
log
airqo-250220-*
scripts/*
coverage/
.nyc_output
utils/scripts/csv.txt
utils/scripts/array-*
utils/scripts/json.txt
utils/scripts/services.yaml