apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Values.app.namespace }}
  labels:
    {{- include "fault-detection-api.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
        app: {{ .Values.app.label }}
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ .Values.app.label }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 10
              preference:
                matchExpressions:
                  - key: node-type
                    operator: In
                    values:
                      - compute
      initContainers:
        - name: train-catboost-model
          image: "{{ .Values.initContainers.container1.image.repository }}:{{ .Values.initContainers.container1.image.tag }}"
          imagePullPolicy: Always
          resources: {}
          envFrom:
            - configMapRef:
                name: {{ .Values.app.configmap }}          
          env:
            - name: CATBOOST_MODEL
              value: /usr/models/catboost_model.pkl         
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        - name: train-lstm-model
          image: "{{ .Values.initContainers.container2.image.repository }}:{{ .Values.initContainers.container2.image.tag }}"
          imagePullPolicy: Always
          resources: {}
          envFrom:
            - configMapRef:
                name: {{ .Values.app.configmap }}          
          env:
            - name: LSTM_MODEL
              value: /usr/models/lstm.h5
            - name: SCALER
              value: /usr/models/scaler.pkl       
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      containers:
        - name: {{ .Values.app.label }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.service.targetPort }}
              name: {{ .Values.app.label }}
          envFrom:
            - configMapRef:
                name: {{ .Values.app.configmap }}
          env:
            - name: LSTM_MODEL
              value: /usr/models/lstm.h5
            - name: SCALER
              value: /usr/models/scaler.pkl
            - name: CATBOOST_MODEL
              value: /usr/models/catboost_model.pkl 
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
