apiVersion: k8s.nginx.org/v1
kind: VirtualServer
metadata:
  name: dev-api-virtual-server
  namespace: development
spec:
  host: dev-api.airqo.net
  upstreams:
    - name: auth-service
      service: airqo-dev-auth-api-svc
      port: 3000
    - name: device-registry
      service: airqo-dev-device-registry-api-svc
      port: 3000
  routes:
    - path: ~ /api\/v[1-2]\/users
      action:
        proxy:
          upstream: auth-service
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v2\/devices
      action:
        proxy:
          upstream: device-registry
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
