app:
  name: airqo-view-api
  label: view-api
  namespace: production
  configmap: prod-view-api-config
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-view-api
  tag: prod-6050fa0d-1686855662
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 1500Mi
  requests:
    cpu: 10m
    memory: 500Mi
ingress:
  enabled: false
service:
  type: NodePort
  port: 8080
  protocol: TCP
  targetPort: 8080
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
