GOOGLE_APPLICATION_CREDENTIALS=/path/to/google_credentials.json
DEVICES_TABLE=devices_table_name                                                 
SITES_TABLE=sites_table_name
AIRQLOUDS_SITES_TABLE=sites_table_name
AIRQLOUDS_TABLE=airqlouds_servers_1
BOOTSTRAP_SERVERS=bootstrap_servers_1,bootstrap_servers_2
AIRQLOUDS_TOPIC=airqlouds_topic
SITES_TOPIC=sites_topic
DEVICES_TOPIC=devices_topic