python-dotenv
Flask
pymongo
flask-cors
flask-pymongo
flask-caching
redis
gunicorn
pandas
google-cloud-bigquery
Flask-SQLAlchemy
psycopg2-binary
GeoAlchemy2~=0.14.1
geojson
pytest~=7.4.0
mongomock~=4.1.2
requests~=2.31.0
requests-mock