apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: workflows
  namespace: pipeline
spec:
  host: staging-platform.airqo.net
  upstreams:
    - name: workflows
      service: workflows-svc
      port: 8080
  subroutes:
    - path: /workflows
      action:
        pass: workflows

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: mlflow
  namespace: staging
spec:
  host: staging-platform.airqo.net
  upstreams:
    - name: mlflow
      service: airqo-mlflow
      port: 5024
  subroutes:
    - path: /mlflow
      action:
        pass: mlflow

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  host: staging-platform.airqo.net
  upstreams:
    - name: grafana
      service: grafana
      port: 3000
  subroutes:
    - path: /grafana
      action:
        pass: grafana

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: inventory
  namespace: staging
spec:
  host: staging-platform.airqo.net
  upstreams:
    - name: inventory
      service: airqo-stage-inventory-svc
      port: 8000
  subroutes:
    - path: /inventory
      action:
        pass: inventory 

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: website
  namespace: staging
spec:
  host: staging-platform.airqo.net
  upstreams:
    - name: website
      service: airqo-stage-website-api-svc
      port: 8000
  subroutes:
    - path: /website
      action:
        pass: website        
               
---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: docs
  namespace: staging
spec:
  host: staging-platform.airqo.net
  upstreams:
    - name: docs
      service: airqo-stage-docs-svc
      port: 3000
  subroutes:
    - path: /docs
      action:
        pass: docs      

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServer
metadata:
  name: staging-platform-virtual-server
  namespace: staging
spec:
  host: staging-platform.airqo.net
  upstreams:
    - name: analytics
      service: airqo-stage-next-platform-svc
      port: 3000
    - name: auth-service
      service: airqo-stage-auth-api-svc
      port: 3000
    - name: device-registry
      service: airqo-stage-device-registry-api-svc
      port: 3000
    - name: data-mgt
      service: airqo-stage-data-mgt-api-svc
      port: 3000
    - name: data-proxy
      service: airqo-stage-data-proxy-api-svc
      port: 3000
    - name: locate
      service: airqo-stage-locate-api-svc
      port: 4001
    - name: analytics-api
      service: airqo-stage-analytics-api-svc
      port: 5000
    - name: predict
      service: airqo-stage-prediction-api-svc
      port: 5000
    - name: monitor
      service: airqo-stage-device-monitor-api-svc
      port: 4001
    - name: calibrate
      service: airqo-stage-calibrate-api-svc
      port: 4001
    - name: incentives
      service: airqo-stage-incentives-api-svc
      port: 3000
    - name: meta-data
      service: airqo-stage-meta-data-api-svc
      port: 4001
    - name: view
      service: airqo-stage-view-api-svc
      port: 8080
    - name: network-uptime
      service: airqo-stage-network-uptime-api-svc
      port: 8501
    - name: fault-detection
      service: stage-fault-detection-api-svc
      port: 4001
    - name: notifications
      service: airqo-stage-notification-api-svc
      port: 8080
    - name: spatial
      service: airqo-stage-spatial-api-svc
      port: 5000  
    - name: beacon
      service: airqo-stage-beacon-api-svc 
      port: 8000                 
  routes:
    - path: /
      action:
        redirect:
          url: https://staging-analytics.airqo.net
          code: 301
    - path: /workflows
      route: pipeline/workflows
    - path: /mlflow
      route: staging/mlflow
    - path: /grafana
      route: monitoring/grafana
    - path: /inventory
      route: staging/inventory  
    - path: /docs
      route: staging/docs  
    - path: /website
      route: staging/website      
    - path: ~ /api\/v[1-2]\/users
      action:
        proxy:
          upstream: auth-service
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/devices
      action:
        proxy:
          upstream: device-registry
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/data
      action:
        proxy:
          upstream: data-mgt
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/proxy
      action:
        proxy:
          upstream: data-proxy
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/locate/map
      action:
        proxy:
          upstream: locate
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/analytics
      action:
        proxy:
          upstream: analytics-api
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/predict
      action:
        proxy:
          upstream: predict
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/monitor
      action:
        proxy:
          upstream: monitor
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/calibrate
      action:
        proxy:
          upstream: calibrate
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/incentives
      action:
        proxy:
          upstream: incentives
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/meta-data
      action:
        proxy:
          upstream: meta-data
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/view
      action:
        proxy:
          upstream: view
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/network-uptime
      action:
        proxy:
          upstream: network-uptime
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/predict-faults
      action:
        proxy:
          upstream: fault-detection
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/notifications
      action:
        proxy:
          upstream: notifications
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/spatial
      action:
        proxy:
          upstream: spatial
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ ^/api\/v[1-2]\/beacon(?:/(.*))?$
      action:
        proxy:
          upstream: beacon
          rewritePath: /$1
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
               