apiVersion: k8s.nginx.org/v1
kind: VirtualServer
metadata:
  name: staging-vertex-virtual-server
  namespace: staging
spec:
  host: staging-vertex.airqo.net
  upstreams:
    - name: vertex-ui
      service: airqo-stage-vertex-svc
      port: 3000  
    - name: auth-service
      service: airqo-stage-auth-api-svc
      port: 3000
    - name: device-registry
      service: airqo-stage-device-registry-api-svc
      port: 3000
    - name: data-mgt
      service: airqo-stage-data-mgt-api-svc
      port: 3000
    - name: data-proxy
      service: airqo-stage-data-proxy-api-svc
      port: 3000
    - name: locate
      service: airqo-stage-locate-api-svc
      port: 4001
    - name: analytics-api
      service: airqo-stage-analytics-api-svc
      port: 5000
    - name: predict
      service: airqo-stage-prediction-api-svc
      port: 5000
    - name: monitor
      service: airqo-stage-device-monitor-api-svc
      port: 4001
    - name: calibrate
      service: airqo-stage-calibrate-api-svc
      port: 4001
    - name: incentives
      service: airqo-stage-incentives-api-svc
      port: 3000
    - name: meta-data
      service: airqo-stage-meta-data-api-svc
      port: 4001
    - name: view
      service: airqo-stage-view-api-svc
      port: 8080
    - name: network-uptime
      service: airqo-stage-network-uptime-api-svc
      port: 8501
    - name: fault-detection
      service: stage-fault-detection-api-svc
      port: 4001
    - name: notifications
      service: airqo-stage-notification-api-svc
      port: 8080  
    - name: spatial
      service: airqo-stage-spatial-api-svc
      port: 5000
    - name: beacon
      service: airqo-stage-beacon-api-svc 
      port: 8000                        
  routes:
    - path: /
      action:
        pass: vertex-ui
    - path: ~ /api\/v[1-2]\/users
      action:
        proxy:
          upstream: auth-service
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/devices
      action:
        proxy:
          upstream: device-registry
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/data
      action:
        proxy:
          upstream: data-mgt
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/proxy
      action:
        proxy:
          upstream: data-proxy
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/locate/map
      action:
        proxy:
          upstream: locate
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/analytics
      action:
        proxy:
          upstream: analytics-api
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/predict
      action:
        proxy:
          upstream: predict
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/monitor
      action:
        proxy:
          upstream: monitor
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/calibrate
      action:
        proxy:
          upstream: calibrate
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/incentives
      action:
        proxy:
          upstream: incentives
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/meta-data
      action:
        proxy:
          upstream: meta-data
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/view
      action:
        proxy:
          upstream: view
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/network-uptime
      action:
        proxy:
          upstream: network-uptime
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/predict-faults
      action:
        proxy:
          upstream: fault-detection
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/notifications
      action:
        proxy:
          upstream: notifications
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ /api\/v[1-2]\/spatial
      action:
        proxy:
          upstream: spatial
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
    - path: ~ ^/api\/v[1-2]\/beacon(?:/(.*))?$
      action:
        proxy:
          upstream: beacon
          rewritePath: /$1
          responseHeaders:
            add:
              - name: Content-Type
                value: application/json
              