app:
  name: airqo-beacon-api
  label: beacon-api
  namespace: production
  configmap: env-beacon-production
replicaCount: 3
image:
  repository: eu.gcr.io/airqo-250220/airqo-beacon-api
  tag: prod-8ebbb4f7-1765111985
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 200m
    memory: 500Mi
  requests:
    cpu: 10m
    memory: 200Mi
nodeSelector:
  role: moderate-usage
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
            - key: role
              operator: In
              values:
                - moderate-usage
        weight: 1
ingress:
  enabled: false
service:
  type: NodePort
  port: 8000
  protocol: TCP
  targetPort: 8000
  nodePort: 30115
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
