.env
analytics_env/
.vscode
__pycache__/
testing.env
env/
env2/
venv

helpers/cloud_function_update_daily_measurements.py
helpers/cloud_function_update_hourly_measurements.py
helpers/cloud_function_update_raw_measurements.py
.DS_Store

jobs/reports/airqo-250220-642e046f4223.json
*.docx
*.csv
*.db
# *.json
env (3)
*.log
