services:
  redis:
    image: redis
    healthcheck:
      test: [ "CMD", "redis-cli","ping" ]
      interval: 5s
      timeout: 15s
      retries: 3
    ports:
      - "6379:6379"

  flask:
    build:
      context: .
      target: dev
    ports:
      - "5000:5000"

  celery:
    build:
      context: .
      target: celery
    depends_on:
      redis:
        condition: service_healthy