app:
  name: airqo-network-uptime-api
  label: network-uptime
  namespace: production
  configmap: env-network-uptime-production
replicaCount: 0
image:
  repository: eu.gcr.io/airqo-250220/airqo-network-uptime-api
  tag: prod-e09ba140-1690038718
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 200Mi
  requests:
    cpu: 5m
    memory: 10Mi
ingress:
  enabled: false
service:
  type: NodePort
  port: 8501
  protocol: TCP
  targetPort: 8501
  nodePort: 30012
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
