app:
  name: prod-update-channel-data-job
  namespace: production
  configmap: env-update-channel-data-production
image:
  repository: eu.gcr.io/airqo-250220/airqo-update-channel-data-job
  tag: prod-f19f6ea4-1690226871
nameOverride: ''
fullnameOverride: ''
resources:
  limits:
    cpu: 500Mi
    memory: 500Mi
  requests:
    cpu: 20m
    memory: 100Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: env-update-channel-data-production-files
