kind: Deployment
apiVersion: apps/v1
metadata:
  name: stage-airflow
  namespace: pipeline
spec:
  selector:
    matchLabels:
      app: airflow
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: airflow
    spec:
      serviceAccountName: stage-airflow-sa
      initContainers:
        - name: airflow-xcom
          image: us.gcr.io/airqo-250220/airqo-stage-apache-airflow-xcom
          imagePullPolicy: Always
          resources: {}
          envFrom:
            - configMapRef:
                name: airflow-config
          volumeMounts:
            - name: xcom-config-volume
              mountPath: /etc/airflow_xcom
      containers:
        - name: airflow-scheduler
          image: us.gcr.io/airqo-250220/airqo-stage-apache-airflow
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: airflow-config
          command: ["airflow"]
          args: ["scheduler"]
          resources: {}
          volumeMounts:
          - name: config-volume
            mountPath: /etc/config
          - name: xcom-config-volume
            mountPath: /etc/airflow_xcom
        - name: airflow-webserver
          image: us.gcr.io/airqo-250220/airqo-stage-apache-airflow
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: airflow-config
          command: ["airflow"]
          args: ["webserver"]
          resources: {}
          readinessProbe: 
            initialDelaySeconds: 120
            timeoutSeconds: 120
            httpGet:
              path: /airflow/health
              port: 8080
          volumeMounts:
          - name: config-volume
            mountPath: /etc/config
          - name: xcom-config-volume
            mountPath: /etc/airflow_xcom
      volumes:
        - name: config-volume
          configMap:
            name: airflow-config-files
        - name:  xcom-config-volume
          emptyDir: {}
      restartPolicy: Always

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: stage-airflow-sa
  namespace: pipeline

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: stage-airflow-cluster-role
rules:
- apiGroups: [""]
  resources: ["services"]
  verbs: ["get", "list", "watch", "create", "update", "delete", "patch"]
- apiGroups: [""]
  resources: ["pods", "pods/exec", "pods/log"]
  verbs: ["*"]
- apiGroups: ["extensions"]
  resources: ["ingresses"]
  verbs: ["get","watch","list"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: stage-airflow-cluster-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: stage-airflow-cluster-role
subjects:
- kind: ServiceAccount
  name: stage-airflow-sa
  namespace: pipeline

---
apiVersion: v1
kind: Namespace
metadata:
  name: pipeline-workers
  
---
kind: Service
apiVersion: v1
metadata:
 name: airflow-svc
 namespace: pipeline
spec:
 type: NodePort
 ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
    nodePort: 31036
 selector:
  app: airflow

---
kind: Service
apiVersion: v1
metadata:
  name: airflow-svc
  namespace: pipeline
spec:
  type: ExternalName
  externalName: airflow-svc.pipeline.svc.cluster.local
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
