app:
  name: airflow
  label: airflow
  namespace: pipeline
  configmap: airflow-config
replicaCount: 2
serviceAccountName: airflow-sa
images:
  repositories:
    initContainer: eu.gcr.io/airqo-250220/airqo-apache-airflow-xcom
    containers: eu.gcr.io/airqo-250220/airqo-apache-airflow
  tag: prod-39b334e6-1693330939
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 1500m
    memory: 4500Mi
  requests:
    cpu: 500m
    memory: 3000Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
  - name: xcom-config-volume
    mountPath: /etc/airflow_xcom
volumes:
  - name: config-volume
    configMap:
      name: airflow-config-files
  - name: xcom-config-volume
    emptyDir: {}
ingress:
  enabled: false
service:
  type: NodePort
  port: 8080
  protocol: TCP
  targetPort: 8080
  nodePort: 30036
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
