apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Values.app.namespace }}
spec:
  concurrencyPolicy: Allow
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  schedule: 0 * * * *
  suspend: false
  jobTemplate:
    metadata:
      name: {{ .Values.app.name }}
    spec:
      template:
        spec:
          dnsPolicy: ClusterFirst
          restartPolicy: OnFailure
          schedulerName: default-scheduler
          terminationGracePeriodSeconds: 30
          {{- with .Values.affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
            - name: {{ .Values.app.name }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              terminationMessagePath: /dev/termination-log
              terminationMessagePolicy: File
              envFrom:
                - configMapRef:
                    name: {{ .Values.app.configmap }}
              resources:
                {{- toYaml .Values.resources | nindent 16 }}