apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.brokerConsumerName }}
  namespace: {{ .Values.app.namespace }}
  labels:
    {{- include "gpmodel.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
        app: {{ .Values.app.label }}
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 5
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ .Values.app.label }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 10
              preference:
                matchExpressions:
                  - key: node-type
                    operator: In
                    values:
                      - compute
      containers:
        - name: {{ .Values.app.brokerConsumerName }}
          image: "{{ .Values.images.repositories.brokerConsumer }}:{{ .Values.images.tag }}"
          imagePullPolicy: {{ .Values.images.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ .Values.app.configMap }} 
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

