app:
  name: workflows
  label: workflows
  namespace: workflows
  configmap: workflows-config
replicaCount: 2
serviceAccountName: stage-workflows-sa
images:
  repositories:
    initContainer: eu.gcr.io/airqo-250220/airqo-stage-workflows-xcom
    containers: eu.gcr.io/airqo-250220/airqo-stage-workflows
  tag: stage-c12a70fb-1697558027
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 1500m
    memory: 4500Mi
  requests:
    cpu: 150m
    memory: 1400Mi
volumeMounts:
  - name: workflows-config-volume
    mountPath: /etc/config
  - name: workflows-xcom-config-volume
    mountPath: /etc/workflows_xcom
volumes:
  - name: workflows-config-volume
    configMap:
      name: workflows-config-files
  - name: workflows-xcom-config-volume
    emptyDir: {}
ingress:
  enabled: false
service:
  type: NodePort
  port: 8080
  protocol: TCP
  targetPort: 8080
  nodePort: 31036
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
