app:
  name: workflows
  label: workflows
  namespace: pipeline
  configmap: airflow-config
replicaCount: 3
serviceAccountName: airflow-sa
images:
  repositories:
    initContainer: eu.gcr.io/airqo-250220/airqo-workflows-xcom
    redisContainer: eu.gcr.io/airqo-250220/airqo-redis
    containers: eu.gcr.io/airqo-250220/airqo-workflows
  tag: prod-9656db0b-1765969289
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  initContainer:
    requests:
      cpu: 50m
      memory: 32Mi
    limits:
      cpu: 250m
      memory: 80Mi
  webserver:
    requests:
      cpu: 125m
      memory: 1000Mi
    limits:
      cpu: 500m
      memory: 2000Mi
  scheduler:
    requests:
      cpu: 500m
      memory: 1000Mi
    limits:
      cpu: 3000m
      memory: 1800Mi
  celery:
    requests:
      cpu: 125m
      memory: 500Mi
    limits:
      cpu: 3000m
      memory: 4000Mi
  redis:
    requests:
      cpu: 50m
      memory: 10Mi
    limits:
      cpu: 300m
      memory: 50Mi
nodeSelector:
  role: high-cpu
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: role
              operator: In
              values:
                - high-cpu
priorityClassName: high-priority
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
  - name: xcom-config-volume
    mountPath: /etc/airflow_xcom
volumes:
  - name: config-volume
    configMap:
      name: airflow-config-files
  - name: xcom-config-volume
    emptyDir: {}
ingress:
  enabled: false
service:
  type: NodePort
  ports:
    - name: web-server
      port: 8080
      targetPort: 8080
      nodePort: 30036
      protocol: TCP
    - name: redis-server
      port: 6379
      targetPort: 6379
      nodePort: 30079
      protocol: TCP
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
