app:
  name: airqo-stage-device-registry-api
  label: sta-device-reg
  secret: sta-env-device-registry  # used by ExternalSecret
  namespace: staging           # still used for Helm label generation only
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-device-registry-api
  tag: latest
resources:
  limits:
    cpu: 300m
    memory: 500Mi
  requests:
    cpu: 10m
    memory: 180Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: device-registry-config-files
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 31002
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
