app:
  name: airqo-device-registry-api
  label: device-reg-api
  secret: prod-env-device-registry
  namespace: production
replicaCount: 3
image:
  repository: eu.gcr.io/airqo-250220/airqo-device-registry-api
  tag: latest
resources:
  limits:
    cpu: 400m
    memory: 600Mi
  requests:
    cpu: 50m
    memory: 250Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: device-registry-config-files
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 30002
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 85