app:
  name: airqo-stage-spatial-api
  label: sta-spatial-api
  namespace: staging
  configmap: stage-spatial-api-config
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-spatial-api
  tag: stage-ac0d3a44-1711177058
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 400Mi
  requests:
    cpu: 10m
    memory: 180Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: stage-spatial-api-config-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 5000
  protocol: TCP
  targetPort: 5000
  nodePort: 31019
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
