app:
  name: airqo-stage-prediction-api
  label: prediction-api
  namespace: staging
  configmap: env-predict-staging
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-prediction-api
  tag: stage-72b23a0a-1687369734
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 50m
    memory: 200Mi
  requests:
    cpu: 5m
    memory: 130Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: env-predict-staging-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 5000
  protocol: TCP
  targetPort: 5000
  nodePort: 31009
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
