app:
  name: airqo-prediction-api
  label: prediction-api
  namespace: production
  configmap: env-predict-production
replicaCount: 3
image:
  repository: eu.gcr.io/airqo-250220/airqo-prediction-api
  tag: prod-8731f295-1687461280
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 50m
    memory: 200Mi
  requests:
    cpu: 5m
    memory: 120Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: env-predict-production-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 5000
  protocol: TCP
  targetPort: 5000
  nodePort: 30009
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
