namespace: production
nameOverride: ''
fullnameOverride: ''
images:
  repositories:
    api: eu.gcr.io/airqo-250220/airqo-analytics-api
    celeryBeat: eu.gcr.io/airqo-250220/airqo-analytics-celery-beat
    celeryWorker: eu.gcr.io/airqo-250220/airqo-analytics-celery-worker
    reportJob: eu.gcr.io/airqo-250220/airqo-analytics-report-job
    redisContainer: eu.gcr.io/airqo-250220/airqo-redis
    devicesSummaryJob: eu.gcr.io/airqo-250220/airqo-analytics-devices-summary-job
  tag: prod-c046b365-1764423392
api:
  name: airqo-analytics-api
  label: analytics-api
  configmap: env-analytics-production
  replicaCount: 3
  podAnnotations: {}
  resources:
    common:
      limits:
        cpu: 250m
        memory: 1000Mi
      requests:
        cpu: 10m
        memory: 250Mi
    redis:
      requests:
        cpu: 50m
        memory: 10Mi
      limits:
        cpu: 300m
        memory: 50Mi
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - preference:
            matchExpressions:
              - key: role
                operator: In
                values:
                  - moderate-usage
          weight: 1
jobs:
  reports:
    name: prod-analytics-report
    configmap: env-analytics-report-production
  resources:
    limits:
      cpu: 1000m
      memory: 4000Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: prod-analytics-config-files
service:
  type: NodePort
  ports:
    - name: analytics-api
      port: 5000
      protocol: TCP
      targetPort: 5000
      nodePort: 30003
    - name: redis-server
      port: 6379
      targetPort: 6379
      nodePort: 30114
      protocol: TCP
ingress:
  enabled: false
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 85
