nameOverride: ''
fullnameOverride: ''
namespace: production
images:
  repositories:
    api: eu.gcr.io/airqo-250220/airqo-prediction-api
    predictJob: eu.gcr.io/airqo-250220/airqo-predict-job
    trainJob: eu.gcr.io/airqo-250220/airqo-train-job
    predictPlaces: eu.gcr.io/airqo-250220/airqo-predict-places-air-quality
  tag: prod-ce550eb9-1757335289
api:
  name: airqo-prediction-api
  label: prediction-api
  configmap: env-predict-production
  replicaCount: 3
  podAnnotations: {}
  resources:
    limits:
      cpu: 50m
      memory: 400Mi
    requests:
      cpu: 5m
      memory: 150Mi
  nodeSelector:
    role: moderate-usage
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - preference:
            matchExpressions:
              - key: role
                operator: In
                values:
                  - moderate-usage
          weight: 1
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: env-predict-production-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 5000
  protocol: TCP
  targetPort: 5000
  nodePort: 30009
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
