nameOverride: ''
fullnameOverride: ''
namespace: production
images:
  repositories:
    api: eu.gcr.io/airqo-250220/airqo-prediction-api
    predictJob: eu.gcr.io/airqo-250220/airqo-predict-job
    trainJob: eu.gcr.io/airqo-250220/airqo-train-job
    predictPlaces: eu.gcr.io/airqo-250220/airqo-predict-places-air-quality
  tag: prod-65e0e1e2-1757343859
api:
  name: airqo-prediction-api
  label: prediction-api
  secret: prod-env-predict
  replicaCount: 3
  podAnnotations: {}
  resources:
    limits:
      cpu: 50m
      memory: 400Mi
    requests:
      cpu: 5m
      memory: 150Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: env-predict-production-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 5000
  protocol: TCP
  targetPort: 5000
  nodePort: 30009
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70