TS_API_KEY=
WRITE=
READ=
CHANNEL=
NAME=
LICENSE_ID=
JWT_SECRET=
MONGO_GCE_URI=
MONGO_URI_PROD=
MONGO_URI_STAGE=
MONGO_URI_DEV=
MONGO_DEV=
MONGO_TEST=
MONGO_PROD=
MONGO_STAGE=
SESSION_SECRET=
REDIS_SERVER=
REDIS_SERVER_DEV=
REDIS_PORT=
CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GCP_KEY=
GOOGLE_MAPS_API_KEY=
PORT=
N_VALUES=
KAFKA_BOOTSTRAP_SERVERS_DEV=
KAFKA_BOOTSTRAP_SERVERS_STAGE=
KAFKA_BOOTSTRAP_SERVERS_PROD=
KAFKA_TOPICS_DEV=
KAFKA_TOPICS_STAGE=
KAFKA_TOPICS_PROD=
KAFKA_CLIENT_ID=
SCHEMA_REGISTRY_DEV=
SCHEMA_REGISTRY_STAGE=
SCHEMA_REGISTRY_PROD=
KAFKA_RAW_MEASUREMENTS_TOPICS_DEV=
KAFKA_RAW_MEASUREMENTS_TOPICS_STAGE=
KAFKA_RAW_MEASUREMENTS_TOPICS_PROD=
KAFKA_CLIENT_ID_DEV=
KAFKA_CLIENT_ID_STAGE=
KAFKA_CLIENT_ID_PROD=
KAFKA_CLIENT_GROUP_DEV=
KAFKA_CLIENT_GROUP_STAGE=
KAFKA_CLIENT_GROUP_PROD=
KEY_ENCRYPTION_KEY=
EVENTS_CACHE_LIMIT=
DEFAULT_LIMIT_FOR_QUERYING_SITES=
DEFAULT_LIMIT_FOR_QUERYING_AIRQLOUDS=
DEFAULT_LIMIT_FOR_QUERYING_PHOTOS=
DEFAULT_LIMIT_FOR_QUERYING_TIPS=
DEFAULT_LIMIT_FOR_QUERYING_KYA_TASKS=
DEFAULT_LIMIT_FOR_QUERYING_KYA_LESSONS=
DEFAULT_EVENTS_LIMIT=
DEFAULT_EVENTS_SKIP=
TAHMO_API_CREDENTIALS_USERNAME=
TAHMO_API_CREDENTIALS_PASSWORD=
TAHMO_API_GET_STATIONS_URL=
UNIQUE_CONSUMER_GROUP=
UNIQUE_PRODUCER_GROUP=
GITGUARDIAN_API_KEY=
SITES_TOPIC=
DEVICES_TOPIC=
LOCATIONS_TOPIC=
SENSORS_TOPIC=
AIRQLOUDS_TOPIC=
ACTIVITIES_TOPIC=
PHOTOS_TOPIC=
TIPS_TOPIC=
KYA_TOPIC=
KYA_LESSON=
HOURLY_MEASUREMENTS_TOPIC=
GRID_TOPIC=
COHORT_TOPIC=
DEPLOY_TOPIC=
RECALL_TOPIC=
THINGSPEAK_BASE_URL=
PLATFORM_BASE_URL=
MAPS_GOOGLEAPIS_BASE_URL=
BIG_QUERY_LOCATION=
TENANTS=
DOMAIN_WHITELIST=
DATAWAREHOUSE_RAW_DATA=
DATAWAREHOUSE_METADATA_STAGE=
DATAWAREHOUSE_AVERAGED_DATA_STAGE=
DATAWAREHOUSE_METADATA_PROD=
DATAWAREHOUSE_AVERAGED_DATA_PROD=
DATAWAREHOUSE_METADATA_DEV=
DATAWAREHOUSE_AVERAGED_DATA_DEV=
DATAWAREHOUSE_PROJECT=
MOESIF_APPLICATION_ID=
SLACK_TOKEN=
SLACK_CHANNEL=
SLACK_USERNAME=
DEFAULT_NEAREST_SITE_RADIUS=
NETWORKS=
DEFAULT_NETWORK=
DEFAULT_TENANT=
STAGE_DEFAULT_COHORT=
PROD_DEFAULT_COHORT=
DEV_DEFAULT_COHORT=
ACTIVITY_TYPES=
MAINTENANCE_TYPES=
RECALL_TYPES=
DEFAULT_LIMIT_FOR_QUERYING_KYA_QUIZZES=
DEFAULT_LIMIT_FOR_QUERYING_KYA_QUESTIONS=
DEFAULT_LIMIT_FOR_QUERYING_KYA_ANSWERS=
KYA_QUIZ=
KYA_QUESTION=
KYA_ANSWER=
DEFAULT_DEVICE_IMAGE=







