SECRET_KEY=123
DATABASE_URL=postgres://username:password@hostname:port/dbname
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Timezone
TIME_ZONE=UTC

# Additional settings
LANGUAGE_CODE=en-us

# cloudinary configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# CORS Configuration
CORS_ALLOWED_ORIGINS=
CORS_ORIGIN_REGEX_WHITELIST=
CSRF_TRUSTED_ORIGINS=