app:
  name: airqo-stage-incentives-api
  label: incentives-api
  namespace: staging
  configmap: stage-incentives-api-config
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-incentives-api
  tag: stage-db46fe65-1737478850
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 1000Mi
  requests:
    cpu: 10m
    memory: 500Mi
nodeSelector:
  role: high-mem
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
            - key: role
              operator: In
              values:
                - high-mem
        weight: 1
ingress:
  enabled: false
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
