app:
  name: airqo-incentives-api
  label: incentives-api
  namespace: production
  configmap: prod-incentives-api-config
replicaCount: 3
image:
  repository: eu.gcr.io/airqo-250220/airqo-incentives-api
  tag: prod-876f88a3-1698580095
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 1000m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 250Mi
ingress:
  enabled: false
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
