app:
  name: airqo-stage-website-api
  label: sta-website-api
  namespace: staging
  configmap: stage-website-api-config
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-website-api
  tag: stage-b7e3e13a-1757673846
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 600Mi
  requests:
    cpu: 1m
    memory: 300Mi
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
            - key: role
              operator: In
              values:
                - control-plane
        weight: 1
nodeSelector:
  role: control-plane
priorityClassName: high-priority
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: stage-website-api-config-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 8000
  protocol: TCP
  targetPort: 8000
  nodePort: 31020
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
