app:
  name: airqo-locate-api
  label: locate-api
  namespace: production
  configmap: env-locate-production
replicaCount: 3
image:
  repository: eu.gcr.io/airqo-250220/airqo-locate-api
  tag: prod-bb708419-1690282143
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 50m
    memory: 500Mi
  requests:
    cpu: 5m
    memory: 300Mi
ingress:
  enabled: false
service:
  type: NodePort
  port: 4001
  protocol: TCP
  targetPort: 4001
  nodePort: 30004
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
