###########################################################
# Start deployment of AirQo tahmo values streams application - Staging
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: stage-airqo-tahmo-values-stream
  namespace: staging
spec:
  selector:
    matchLabels:
      app: stage-airqo-tahmo-values-stream
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: stage-airqo-tahmo-values-stream
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
        - name: stage-airqo-tahmo-values-stream
          image: us.gcr.io/airqo-250220/stage-tahmo-values-stream:latest
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 100m
              memory: 250Mi
            limits:
              cpu: 200m
              memory: 700Mi
          envFrom:
            - configMapRef:
                name: stage-tahmo-streams-config
            # - secretRef:
            #     name: stage-tahmo-streams-secrets

---
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2
metadata:
  name: stage-airqo-tahmo-values-stream-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: stage-airqo-tahmo-values-stream
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80