###########################################################
# Start deployment of AirQo raw device measurements streams application - Staging
###########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: stage-airqo-raw-measurements-stream
  namespace: staging
spec:
  selector:
    matchLabels:
      app: stage-airqo-raw-measurements-stream
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: stage-airqo-raw-measurements-stream
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
        - name: stage-airqo-raw-measurements-stream
          image: eu.gcr.io/airqo-250220/stage-raw-device-measurements-stream:latest
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 100m
              memory: 250Mi
            limits:
              cpu: 200m
              memory: 700Mi
          envFrom:
            - configMapRef:
                name: stage-airqo-raw-measurements-stream-config

---
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2
metadata:
  name: stage-airqo-raw-measurements-stream-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: stage-airqo-raw-measurements-stream
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
