replicaCount: 3
images:
  repositories:
    api: eu.gcr.io/airqo-250220/airqo-analytics-api
    celeryBeat: eu.gcr.io/airqo-250220/airqo-analytics-celery-beat
    celeryWorker: eu.gcr.io/airqo-250220/airqo-analytics-celery-worker
  tag: prod-6c636bfc-1685566276
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 600Mi
  requests:
    cpu: 10m
    memory: 250Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: prod-analytics-config-files
service:
  type: NodePort
  port: 5000
  protocol: TCP
  targetPort: 5000
  nodePort: 30003
ingress:
  enabled: false
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
app:
  name: airqo-analytics-api
  label: analytics-api
  namespace: production
  configmap: env-analytics-production
