replicaCount: 2
images:
  repositories:
    api: eu.gcr.io/airqo-250220/airqo-stage-analytics-api
    celeryBeat: eu.gcr.io/airqo-250220/airqo-stage-analytics-celery-beat
    celeryWorker: eu.gcr.io/airqo-250220/airqo-stage-analytics-celery-worker
  tag: stage-100447fd-1685533251
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
resources:
  limits:
    cpu: 100m
    memory: 600Mi
  requests:
    cpu: 10m
    memory: 250Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: stage-analytics-config-files
service:
  type: NodePort
  port: 5000
  protocol: TCP
  targetPort: 5000
  nodePort: 31003
ingress:
  enabled: false
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
app:
  name: airqo-stage-analytics-api
  label: sta-alytics-api
  namespace: staging
  configmap: env-analytics-staging
image:
  tag: stage-0282c90c-1685277036
