app:
  name: airqo-stage-website-api
  label: sta-website-api
  secret: sta-env-website-backend
  namespace: staging
replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-website-api
  tag: latest
resources:
  limits:
    cpu: 100m
    memory: 600Mi
  requests:
    cpu: 1m
    memory: 300Mi
volumeMounts:
  - name: config-volume
    mountPath: /etc/config
volumes:
  - name: config-volume
    configMap:
      name: stage-website-api-config-files
ingress:
  enabled: false
service:
  type: NodePort
  port: 8000
  protocol: TCP
  targetPort: 8000
  nodePort: 31020
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 70
