name: code-coverage-workflow

on: [push, pull_request]

jobs:
  auth-service:
    runs-on: ubuntu-latest
    continue-on-error: true
    defaults:
        run:
          working-directory: src/auth-service
    name: Code Coverage for authservice
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
          node-version: 18

    - name: Install dependencies
      run: 
        npm install

    - name: Run tests and collect coverage
      continue-on-error: true
      run: 
        npm run test
        
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with: 
        directory: src/auth-service/coverage
  device-registry:  
    runs-on: ubuntu-latest
    continue-on-error: true
    defaults:
      run:
        working-directory: src/device-registry
    name: Code Coverage for device-registry
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
          node-version: 18
    
    - name: Install dependencies
      run: 
        npm install
    
    - name: Run tests and collect coverage
      continue-on-error: true
      run: 
        npm run test
            
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with: 
        directory: src/device-registry/coverage
    

        
        
        
        
        
        
        
        
        
